mixin bookForm(book, genres, saveUrl, cancelUrl)

    div.form-container
        form(action=saveUrl method='post')
            div.form-input
                label(for='name') Book Title
                input(id='name' name='name' value= book.title)

            div.form-input
                label(for='author_name') Author
                input(id='author_name' name='author_name' value= book.authors)

            div.form-input
                label(for='department') Genre
                select(id='department' name='department')
                    each genre in genres
                        option(value=genre selected = (genre === book.genre)) #{genre}

            div.form-input
                label(for='department') Book Description
                textarea(id='description' name='description' rows=10 cols=80) #{book.description}

            div.form-buttons
                a.button(href=cancelUrl) Cancel
                button.button(type='submit') Save