extends ../layout

block content
    h3= book.title
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p Authors: #{book.authors}
        p genre: #{book.genre}
        p= book.description
        div.authors
            h4 Available Authors
                form(action= `/books/${book.id}/enroll/` method= post)
                    select(name='author' id='author' autocomplete=off)
                         each author in availableAuthors
                             option(value=student.id) #{student.first_name}
                    button.button(type='submit') Enroll

            h4 Authors Of Book
            table
                thead
                    tr
                        th First
                        th Last
                        th DOB
                        th
                tbody
                    each author in book.authors
                        tr
                            td= author.firstname
                            td= author.lastname
                            td= author.dob
                            td
                                a(href=`/authors/profile/${author.id}`) View Author
                                a(href=`/books/${book.id}/removeAuthor/${author.id}`) Remove Author